{% for host in item.hosts %}
Host {{ host.name }}
{% if host.rsa_private %}
IdentityFile "~/.ssh/id_rsa.{{ host.name }}"
{% endif %}
{% if host.options is defined %}
{% for param, val in host["options"].iteritems() %}
{{ param }} {{ val }}
{% endfor %}
{% endif %}
{% endfor %}
